.card-list {    
    margin: auto;
    padding: 20px 0;
    position: relative;
    overflow: hidden;

    .card {
        width: auto;
        min-height: 50px;
        margin-bottom: 10px;
        margin: 0 auto 10px;
        padding: 25px;
        background-color: #fff;
        box-shadow: 0px 2px 5px 0px #cecaca;
       

        .header {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            font-weight: 500;

            .sub-title {
                font-size: 13px;
                color: rgba(0, 0, 0, 0.54);
            }
        }

        .image {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            margin-right: 20px;
        }

        .content {
            font-size: 15px;
        }
    }

    .card.hide {
        display: none;
    }

    .card.swiped {
        opacity: 0.4;
        //transition: transform .5s ease;
    }
}