body {
    background-color: #f5f5f5;
    overflow-x: hidden;
    overscroll-behavior: none;       //To prevent the body scroll on dismissing the card from the list

    .main {
        margin-top: 50px;
        margin-bottom: 30px;
    }
}