html {
    overflow: hidden;
    height: 100%;
    position: fixed;
}

body {
    overflow: auto;
    height: 100%;
    position: relative;
    background-color: #f1f1f1;

    .main {
        margin-top: 40px;
        margin-bottom: 30px;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
body.no-scroll {
    touch-action: none;
}

@include media-breakpoint-up(md) { 

    body{
        .main {
            padding: 20px 100px;
        }
    }
    
}
